{% comment %} 
Name: Authentification Base Template

Description:
This template serves as a base to the login and
authentification pages.
{% endcomment %}

{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/authentication/base.css'%}?={% now 'U' %}">
        {% block metadata %}
        {% endblock %}
    </head>
    <body>
        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>