{% extends 'authentication/base.html' %}

{% comment %} 
Name: Login Template

Description:
This is the template that creates the actual HTML for the login web-page
{% endcomment %}

{% load static %}

{% block metadata %}
<link rel="stylesheet" href="{% static 'css/authentication/login.css' %}?={% now 'U' %}">
<title>Bookstore Inventory | Login</title>
{% endblock %}

{% block content %}
<div id="portal">
    <header>
        <h1>Login</h1>
    </header>
    <p id="error-msg">{{error}}</p>
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %} <!-- Required to let Django know this is a secure form action-->
        <table>
            <tr>
                <td>{{ form.email.label}}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <br>
        <div id="submit-section">
            <input type="submit" value="Login"/>
            <a href="{% url 'user_register'%}">Or create an account</a>
        </div>
    </form>
</div>
{% endblock %}
