.account-wrapper{
    #account-pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        transition: all .3s ease;
        position: relative;
        transition: all .3s ease;
    }


    input {
        display: none;
    }


    img {
        position: absolute;
        object-fit: cover;
        width: 165px;
        height: 165px;
        box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
        border-radius: 100px;
        z-index: 0;
    }


    #file-label {
        cursor: pointer;
        height: 165px;
        width: 165px;
    }


    label#file-label:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.8);
        border-color: #3d3d3d;
        z-index: 10000;
        color: white;
        transition: background-color .2s ease;
        border-radius: 100px;
        margin-bottom: 0;
    }


    :hover span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
    }
}