h3 {
    color: #53c66a;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    height: 20em;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 2em;
    padding-right: 2em;
    height: 2em;
}

td input {
    font-size: 1em;
}

button {
    border: solid black 0.1em;
    background-color: #60DF7A;
    color: white;
    border-radius: 2em;
    text-align: center;
    width: 6em;
    line-height: 3em;
    float:left;
    box-shadow: 0.1em 0.2em 0.1em rgb(99, 99, 99);
    cursor: pointer;
}