* {box-sizing: border-box; }
body {background-color:#56251b; margin:0; color:#FFFFFF; font-family:Courier New}
header {background-color:#56251b; color: #FFFFFF; font-family:Trebuchet MS;padding:1em;text-decoration:none;}
h1 {text-align: center;font-size:1.5em;}
nav {font-size:1.2em;text-align:center;background-color:#000000}
h2 {color:#bdb620; font-family:Garamond}
dt{color:#56251b; font-weight: bold}
footer {font-size:.70em ;font-style:italic; text-align:center; padding: 1em;background-color:#000000;}
#wrapper {background-color:#000000; margin-left: auto;}
h3 {font-family: Garamond}
main{padding-right:1em; padding-left:1em;padding-top:0;padding-bottom:0;}
nav a{text-decoration:none}
nav a:link {color: #ffffff; }
nav a:visited {color: #ffffff; }
nav a:hover {color: #e75f1b; }
nav ul{list-style-type:none;flex-direction:column;padding:0;margin:0;}
nav li{padding:.5em 1em .5em 1em;width:100%;border-bottom:1px;border-bottom-style:solid;}
nav a{text-decoration:none;}
section {padding-left:.5em;padding-right:.5em;}
#mobile{display:inline;}
#desktop{display:none;}
table {border:1px solid #3399cc;}
table {margin-left:auto;margin-right:auto;width:90%;border-collapse:collapse;}
tr {padding:5px;border:1px solid #3399cc;}
tr:nth-of-type(even){background-color:#dfedf8}
td {padding:5px;border:1px solid #3399cc;text-align:center;}
.text {text-align:left;}
form {display:flex; flex-direction:column; padding-left:1em; width:80%;}
input {margin-bottom:.5em;}
textarea {margin-bottom:.5em;}

@media (min-width: 1024px) {
    body {background-image:repeating-radial-gradient( #000000 10%, #501414 70%, #000000 100%);}
    nav ul {padding-right:10%;padding-left:10%}
    #wrapper{margin: auto; width:80%;}
    }