#portal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    height:40%
}

#submit-section {
    display:flex;
    flex-direction: row;
}

#submit-section a {
    margin-left: 1em;
}

#h1 {
    display:inline-block;
}

#error-msg {
    display:inline;
    padding:0;
    margin: 0.5em 0;
    color: red;
}



form {
    display:inline;
    margin-left: auto;
    margin-right: auto;
}