{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/bd677980e0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bookstore/base.css'%}?={% now 'U' %}">
        {% block metadata %}
        {% endblock %}
    </head>
    <body>
        <nav id="side-nav">
            <div id="hamburger"><i class="fa-solid fa-bars fa-3x"></i></div>
            <ul>
                <li><a href="/"><i class="fa-solid fa-warehouse"></i></a></li>
                <li><a href="inventory"><i class="fa-solid fa-truck-moving"></i></a></li>
                <li><a href="transactions"><i class="fa-solid fa-dollar-sign"></i></a></li>
            </ul>  
        </nav>

        <main>
            <div id="top-bar">
                <div id="page-title">{{currentpage}}</div>
                <ul>
                    <div id="user-greet">
                        {% if user.is_authenticated %}
                            Hello, {{user.first_name}}!
                        {% else %}
                            Not logged in!
                        {% endif %}
                    </div>
                    <li><a href="#"><i class="fa-solid fa-gear"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                </ul>    
            </div> 
            <div id="page-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
    <script>
        // var el = document.getElementById()
    </script>
</html>