{% load static %}


{% block metadata %}
<link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
<script src="https://kit.fontawesome.com/2d34f5e9c5.js" crossorigin="anonymous"></script>
<title>Bookstore Inventory | Dashboard</title>
{% endblock %}

{% block content %}
<header>
    <div id="navi">
        <nav>
            <ul>
                <b><li><a href=index.html>Home</a>&nbsp;</li>
                <li><a href=inventory.html>Inventory</a>&nbsp;</li>
                <li><a href=Log.html>Login</a>&nbsp;</li>
                <li><a href=test.html>Test</a>&nbsp;</li>
                <li><a href=test2.html>Test</a>&nbsp;</li></b>
            </ul>
        </nav>

        <div id="wrapper">
            <h1> Search</h1>
            <h3>Profile</h3>
            <h3>Settings</h3>
        </div>
    </div>
</header>

<main>
<h1>Dashboard</h1>
{% if user.is_authenticated %}
	<p>{{user}} is authenticated</p>
{% endif %}
</main>
{% endblock %}