{% extends 'bookstore/base.html' %}
{% load static %}


{% block metadata %}
<link rel="stylesheet" href="{% static 'css/dashboard.css'%}?={% now 'U' %}">
<script src="https://kit.fontawesome.com/2d34f5e9c5.js" crossorigin="anonymous"></script>
<title>Bookstore Inventory | Dashboard</title>
{% endblock %}

{% block content %}
<div id="quick-statistics">
    {% for info in statistics %}
        <div class="statistics-card">
            <p id="info-label">{{info.label}}</p>
            <p id="info-value">{{info.value}}</p>
        </div>
    {% endfor %}
</div>
<!-- Things coming in today -->
<!-- Transactions info -->

<main>
<h1>Dashboard</h1>
</main>
{% endblock %}