{% extends 'bookstore/base.html' %}
{% load static %}

{% block metadata %}
<title>Bookstore Manager | Inventory Edit</title>
<link rel="stylesheet" href="{% static 'css/bookstore/edit_book.css' %}?={% now 'U' %}">
{% endblock %}

{% block content%}
<h3>Edit book</h3>
<form method='POST' action="/inventory/edit/{{book_isbn}}">
    {% csrf_token %} <!-- Required to let Django know this is a secure form action-->
    <table>
        <tr>
            <td>{{form.isbn.label}}</td>
            <td>{{form.isbn}}</td>
        </tr>
        <tr>
            <td>{{form.author_ids.label}}</td>
            <td>{{form.author_ids}}</td>
        </tr>
        <tr>
            <td>{{form.publisher_id.label}}</td>
            <td>{{form.publisher_id}}</td>
        </tr>
        <tr>
            <td>{{form.summary.label}}</td>
            <td>{{form.summary}}</td>
        </tr>
        <tr>
            <td>{{form.genre.label}}</td>
            <td>{{form.genre}}</td>
        </tr>
        <tr>
            <td>{{form.title.label}}</td>
            <td>{{form.title}}</td>
        </tr>
        <tr>
            <td>{{form.cost.label}}</td>
            <td>{{form.cost}}</td>
        </tr>
    </table>
    <button style="margin-left: auto; margin-right: auto;" type="submit">Save</button>
</form>

{% endblock %}