{% extends 'bookstore/base.html' %}
{% load static %}


{% block metadata %}
<title>Bookstore Manager | Inventory</title>
<link rel="stylesheet" href="{% static 'css/bookstore/inventory.css' %}?={% now 'U' %}">
{% endblock %}

{% block content %}
<div id="search-section">
	<button id="filters" style="float:left;">Filters</button>
	<!-- <form id="search-form" method="POST"> -->
		<!-- {% csrf_token %} Required to let Django know this is a secure form action -->
		<input id="search" type="text" placeholder="Search" value="{{query}}">
	<!-- </form> -->
</div>
<div id="results-container">
	<div id="books-list">
		<span id="selected-book-isbn" style="display:none; visibility: hidden;"></span>
		{% for book in books %}
			<div class="book-item" onmouseover="on_book_hover(event)">[{{book.isbn}}] {{book.title}}</div>
		{% endfor %}
	</div>
	<div id="details-container">
		<h2>Details</h2>
		<div id="details-container-inner">
			<button id="edit-selected-book" onclick="edit_book(event)">Edit</button>
			<br>
			<div id="details-header">
				<h2 id="selected-book-title">Selected book title</h2>
				<h3 id="selected-book-genre">Genre</h3>
			</div>
			<div class="horizontal-line"></div>
			<div style="display:none;" id="details">
				<div class="detail-block">
					<i>Summary:</i>
					<p id="selected-book-summary"></p>
				</div>
				<div class="detail-block">
					<i>Author(s):</i>
					<p id="selected-book-authors"></p>
				</div>
				<div class="detail-inline">
					<i>Quantity(s):</i>
					<p id="selected-book-quantity"></p>
				</div>
				<div class="detail-inline">
					<i>Cost:</i>
					<p id="selected-book-cost"></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'js/bookstore/inventory.js' %}"></script> -->
<script>
	function update_details_card(book_data){
		const details_card = document.getElementById('details');

		if(details_card){
			details_card.style.display = 'inline';
			document.getElementById('selected-book-title').innerText = book_data['title'];
			document.getElementById('selected-book-genre').innerText = book_data['genre'];
			document.getElementById('selected-book-summary').innerText = book_data['summary'];
			document.getElementById('selected-book-authors').innerText = book_data['authors'].join('\n');
			// Publisher
			document.getElementById('selected-book-quantity').innerText = book_data['quantity'];
			document.getElementById('selected-book-cost').innerText = book_data['cost'];
		}
	}

	// On book hover in book list
	// Fetch book data and update details card
	async function on_book_hover(event){
		if(event.target){
			var info = event.target.innerText.substring(1).split('] ');
			const isbn = info[0];
			const name = info[1];
			
			const response = await fetch(`/api/books/${isbn}`);
			const book_data = await response.json();

			if(book_data){
				update_details_card(book_data)
			}

			// Set selected-book-isbn
			document.getElementById('selected-book-isbn').innerText = isbn
		}
	}

	function edit_book(event){
		const isbn = document.getElementById('selected-book-isbn').innerText; // get selected book isbn
		
		// If isbn is empty, do nothing
		if(isbn.trim() == '') return;

		// Got to edit page for selected book
		window.location.replace(window.location.origin+`/inventory/edit/${isbn}`)
	}

	const search_bar = document.getElementById('search')
	search_bar.onkeypress = function(event){
		// If user pressed enter and the search is not empty
		if(event.keyCode==13 && search_bar.value.trim() != ''){
			// Navigate to the search page passing in the query
			window.location.replace(window.location.origin+`/inventory/search/${search_bar.value}`)
		}
	}
</script>
{% endblock %}