{% extends 'bookstore/base.html' %}
{% load static %}


{% block metadata %}
<title>Bookstore Manager | Inventory</title>
<link rel="stylesheet" href="{% static 'css/bookstore/inventory.css' %}?={% now 'U' %}">
{% endblock %}

{% block content %}
<div id="search-section">
	<div id="filters">Filters</div>
	<div id="search">Search</div>
</div>
<div id="results-container">
	<div id="books-list">
		{% for book in books %}
			<div class="book-item">{{book.name}}</div>
		{% endfor %}
	</div>
	<div id="details-container">
		<h2>Details</h2>
		<div id="details-container-inner">
			<btn id="edit-selected-book">Edit</btn>
			<div id="details-header">
				<h2 id="selected-book-title">Selected book title</h2>
				<h3 id="selected-book-genre">Genre</h3>
			</div>
			<div class="horizontal-line"></div>
			<div id="details">
				<div class="detail-block">
					<i>Summary:</i>
					<p id="selected-book-summary"></p>
				</div>
				<div class="detail-block">
					<i>Author(s):</i>
					<p id="selected-book-authors"></p>
				</div>
				<div class="detail-inline">
					<i>Quantity(s):</i>
					<p id="selected-book-quantity"></p>
				</div>
				<div class="detail-inline">
					<i>Cost:</i>
					<p id="selected-book-cost"></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}